.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/sec.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
   
    color: rgb(71, 59, 59); 
    text-shadow: 6px 6px 8px rgba(222, 53, 53, 0.5); 
  }
  